@model IEnumerable<MartinWebApp.Models.Persona> 
@{
    ViewData["Title"] = "List of people";
}
<h1>List of people from database</h1>
<table>
    @foreach (var p in Model)
    {
        <tr>
            <td>Id: @p.Id</td>
            <td>Name: @p.Name</td>
            <td>Tele: @p.PhoneNumber</td>
            <td>CityId: @p.CityId</td>
        </tr>

    }
</table>