@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<h1>About</h1>
<article>
    <p>Hej jag såg att ni hade en arbetsmarknadsutbildning var detsjälvklart att jag skulle passa på.
    I grunden harjag en bakgrund inom produktionsteknik med utbildning samt arbete inom
    industrin, men längtade efter att få testa på programmering och valde då att läsa
    yrkeshögskoleutbildningen mjukvaruutveckling autonoma fordon, där jag fick lära mig en
    del om embedded-programmering. </p>
    <p>Jag gick färdigt utbildningen och har bra kunskaper i
    bland annat c, c++ och python,samtidigtsom jag har programmerat abb robotar och PLC
    system i produktionsteknikerutbildningen men skulle gärna vilja bredda och utveckla andra
    typer av applikationersom man får möjlighet till i denna utbildningen, och täcka områden
    som jag inte har haft möjlighet att titta på innan men som ingåri utbildningen som till
    exempel databaser.</p>
    <p>Målet är att kunna utveckla applikationersom folk har nytta av isin
    vardag ellerisina företag.</p>

</article>
