@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contacts";
}
<h1>Contacts</h1>
<article>
    <table>
        <tr>
            <td width="70px">Namn:</td>
            <td>Martin Johansson</td>
            
        </tr>
        <tr>
            <td>E-post:  </td>
            <td>marjoh3@live.se</td>

        </tr>
        <tr>
            <td>Mobil:  </td>
            <td>0735 301 225</td>
        </tr>
    </table>
</article>