@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MartinWebApp.Models.PeopleViewModel
@{
    ViewData["Title"] = "People";
}
<h1>People</h1>


<h2>Search People</h2>
@using (Html.BeginForm("PeopleSearch", "Home", FormMethod.Post, new { id = "searchForm" }))
{
    <label>Name:</label>
    <input type="text" name="name" />
    <label>Tele:</label>
    <input type="text" name="phonenumber" />
    <label>City:</label>
    <input type="text" name="city" />

    <input type="submit" value="Search" />
}

<h2>Add Person</h2>
@using (Html.BeginForm("People", "Home", FormMethod.Post, new { id = "addForm" }))
{
    <label>Name:</label>
    <input type="text" name="name" />
    <label>Tele:</label>
    <input type="text" name="phonenumber" />
    <label>City:</label>
    <input type="text" name="city" />

    <input type="submit" value="Add" />
}
@if (ViewBag.ErrorMess != null)
{
    <p>@ViewBag.ErrorMess</p>

}
<h2>Results</h2>
<table>
    @foreach (var p in MartinWebApp.Models.PeopleViewModel.peopleResult)
    {
        <tr>
            <td>Name: @p.Name</td>
            <td>Tele: @p.PhoneNumber</td>
            <td>City: @p.City</td>
            <td>

                @using (Html.BeginForm("PeopleDelete", "Home", FormMethod.Post, new { id = "deleteForm" }))
                {
                    <input type="hidden" value=@p.Name name="name" />
                    <input type="hidden" value=@p.PhoneNumber name="phonenumber" />
                    <input type="hidden" value=@p.City name="city" />
                    <input type="submit" value="Delete" />
                }

            </td>
        </tr>

    }
</table>
<h4>Partial view</h4>
@foreach (var item in MartinWebApp.Models.PeopleViewModel.peopleResult)
{
    <partial name="_partialPerson" model="item" />
}
