@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}
<h1>Projects</h1>
<article>
    <table>
        <tr>
            <td width="100px">Calculator:</td>
            <td width="100px"><a href="https://github.com/Mjoh3/Assignment1_Calculator_MJ">Calculator</a></td>
            <td>This is my first calculator project</td>

        </tr>
        <tr>
            <td>Hangman:</td>
            <td><a href="https://github.com/Mjoh3/Assignment2_Hangman_MJ">Hangman</a></td>
            <td>This is my hangman project</td>
        </tr>
        <tr>
            <td>Unit test:</td>
            <td><a href="https://github.com/Mjoh3/Assignment3_UnitTest_Martin">Unit test</a></td>
            <td>This is the calculator project but with unit tests</td>
        </tr>
    </table>
</article>