
<div id="c"></div>
<div id="pd"></div>
<div id="ps"></div>
<div id="pc"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="@Url.Content("~/js/m1.jsx")"></script>



